
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Your Mad Lib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
<p>The @Model.Adjective1 @Model.Adjective2 @Model.Occupation @Model.AnimalPlural are 4 @Model.AnimalPlural who are lead by a/an @Model.Animal in the fight against @Model.Noun. They strive to protect @Model.NounPlural from all violence, but their most @Model.Adjective3 enemy is the dreaded @Model.KitchenAppliance. They also love to @Model.Verb Pizza! @Model.SillyWord , dude!</p>
  </body>
</html>  